<h1>Street address to coordinates results</h1>

<dl>
  <dt>Latitude</dt>
  <dd><%= @lat %></dd>

  <dt>Longitude</dt>
  <dd><%= @lng %></dd>

  <dt>Current Temperature</dt>
  <dd><%= @curr_temp %></dd>

  <dt>Current Summary</dt>
  <dd><%= @curr_summ %></dd>

  <dt>Outlook for the next sixty minutes</dt>
  <dd><%= @hour %></dd>

  <dt>Outlook for the next several hours</dt>
  <dd><%= @lng %></dd>

  <dt>Outlook for next several days</dt>
  <dd><%= @lng %></dd>
</dl>

<%= @current %>
